button{
  width: 250px;
  height:80px;
  font-family: Arial, Roboto, sans-serif;
  font-weight: bold;
  color:grey;
  border:2px solid white;
  border-radius: 10px;
  margin: 5px ;
  cursor:pointer;
  font-size: 25px;
}

button:hover{
  background-color: #444444;
}

.click-button{
  background-color: #002ead;
  color:white;

}
.reset-button{
  color:white;
  background-color: rgb(197, 89, 89);
}